// Roboto y Condensed
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap");

$arial: Arial, Helvetica, sans-serif;
$roboto: "Roboto", sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;
