<main>
  <div class="container">
    <header class="text-center mt-3">
      <h1>Indicador Económico: {{ indicator.nombre }}</h1>
      <h3>Unidad de medida: {{ indicator.unidad_medida }}</h3>
    </header>

    <div class="indicator-details">
      <div class="row indicator-details-chart">
        <div class="col col-xs-2">
          <div class="chart-container">
            <canvas
              baseChart
              width="100"
              height="100"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
            ></canvas>
          </div>
        </div>
      </div>

      <div class="indicator-details-filter">
        <div class="indicator-details-filter-byDate">
          <div class="text-date">
            <p>Seleccione una fecha determinada:</p>
            <hr />
          </div>
          <div class="selector-date">
            <select class="date-options" [formControl]="selectedDate">
              <option selected value="" disabled>Fecha</option>
              <option [value]="date" *ngFor="let date of dateIndicator">
                {{ date }}
              </option>
            </select>
            <div *ngIf="filteredDateIndicator !== null">
              <h5 class="indicator-value">
                Valor: ${{ filteredDateIndicator }}
              </h5>
            </div>
          </div>
        </div>
        <div class="indicator-details-filter-byYear">
          <p>Seleccione un año determinado:</p>
          <hr />
          <select class="years-options" [formControl]="selectedYear">
            <option selected value="" disabled>Año</option>
            <option *ngFor="let year of filteredYearIndicator" [value]="year">
              {{ year }}
            </option>
          </select>
          <button
            class="btn btn-info w-20 ms-3"
            *ngIf="filteredValueIndicator.length > 0"
            (click)="filteredValueIndicator.length = 0"
          >
            Ocultar
          </button>
          <div>
            <div
              class="indicator-year-table"
              *ngIf="filteredValueIndicator.length > 0"
            >
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indicator of filteredValueIndicator">
                    <td>{{ indicator.fecha | date: "dd/MM/yyyy" }}</td>
                    <td>${{ indicator.valor }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
