.indicator-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin-top: 25px;

  &-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  &-byYear {
  }

  &-byDate {
  }

  &-chart {
  }
}

.indicator-year-table {
  width: 100%;
  margin-top: 15px;
  border-radius: 6px;
  border: 1px solid #688391;
  &-header,
  &-body {
    display: flex;
    flex-wrap: wrap;
    height: 36px;
    align-items: center;
    border-bottom: 1px solid #688391;

    & div {
      width: 50%;

      & p {
        margin-left: 15px;
        margin-bottom: 0;
      }
    }
  }
}

.indicator-value {
  margin-top: 20px;
}

.chart-container {
  position: sticky;
  top: 70px;
}
