@import "../../../assets/styles/utils/colors";

.indicators-table {
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  &-row:hover td {
    background-color: $color-primary;
    color: $color-white;
    transition: all 0.3s ease;
  }
}
