<main class="container">
  <div class="row-2">
    <div class="col mt-3">
      <h1>Indicadores económicos</h1>
    </div>
  </div>

  <table class="table table-striped indicators-table">
    <thead class="indicators-table-header">
      <tr>
        <th>
          Código
          <i
            class="material-icons color-azul"
            *ngIf="!arrowUpward"
            (click)="sortByName()"
            >arrow_downward</i
          >
          <i
            class="material-icons color-azul"
            *ngIf="arrowUpward"
            (click)="sortByName()"
            >arrow_upward</i
          >
        </th>
        <th>Nombre</th>
        <th>Unidad Medida</th>
        <th>Fecha</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr
        class="indicators-table-row"
        (click)="goToIndicatorDetails(indicator.codigo)"
        *ngFor="let indicator of indicators"
      >
        <td>
          <strong>{{ indicator.codigo | uppercase }}</strong>
        </td>
        <td>{{ indicator.nombre }}</td>
        <td>{{ indicator.unidad_medida }}</td>
        <td>{{ indicator.fecha | date: "dd-MM-yyyy" }}</td>
        <td>
          {{ indicator.valor | indicatorValue: indicator.unidad_medida }}
        </td>
      </tr>
    </tbody>
  </table>
</main>
